@model LoginModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content = "width=device-width">
        <title>SportsStore</title>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class = "bg-dark text-white p-2">
            <span class = "navbar-brand ml-2">SPORTS STORE Login</span>
        </div>
        <div class = "m-1 p-1 col-3">
            <div class = "text-danger" asp-validation-summary="All"></div>

            <form asp-action="Login" asp-controller="Account" method="post">
                <input type="hidden" asp-for="ReturnUrl">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <div asp-validation-for="Name" class="text-danger"></div>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <div asp-validation-for="Password" class="text-danger"></div>
                    <input asp-for="Password" class="form-control" type="password">
                </div>
                <button type="submit" class="btn btn-success mt-2">Log In</button>
            </form>
        </div>
    </body>
</html>